.Flowchart {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.Flowchart-config {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}
.Flowchart-toolbar {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}
.Flowchart-textedit {
    margin: 5px;
    width: 200px;
}
.Flowchart-tool {
    margin: 2px;
    width: 32px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 1px;
}
.Flowchart-tool:hover {
    cursor: pointer;
}
.Flowchart-tool.active {
    border-color: #ee0000;
}
.Flowchart-container {
    flex-grow: 1;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #eeeeee;
}
.Flowchart-svg {
    width: 1000px;  /* todo */
    height: 1000px;
    background-color: #ffffff;
}

.Flowchart-link {
    pointer-events: none;
    stroke-width: 0.3px;
    stroke: #000000;
    fill: transparent;
}

.Node-figure {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    stroke-width: 0.3px;
    stroke: #000000;
    fill: #ffffff;
}
.Node-text {
    pointer-events: none;
    font-size: 4px;
}
.Node-connection {
    stroke-width: 0.2px;
    stroke: #000000;
    fill: #ffffff;
}
.Node-connection:hover {
    cursor: pointer;
}
.Node-connection-active {
    stroke: #ee0000;
}

.Node-captured {
    stroke: #0000ee;
}